<form action="/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <%- console.log('add-to-cart: ', csrfToken) %>
    <button class="btn" type="submit">Order Now</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>