<footer>
  <div class="footer">
 
    <ul class="footer-panel">
       <li>© 2020 Copyright: Amalitech</li>
        <li class="">Contact</li> 
        <li class="">More info</li> 
        </ul>
</div>
</footer>
<script src="/js/main.js"></script>


