<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<style>

</style>
</head>
<body>


<div class="footer">
  <p>© 2020 Copyright: Amalitech</p>
    <ul class="footer-panel">
        
          <i class=""> </i> Contact
        

  
        <i class=""></i> More info
        </ul>
      

</div>

</body>
</html> 
